*{
    margin:0;
    font-family:Arial;
    border: border-box;
}
.navbar{
    width: 100%;
    height: 9vh;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width:100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    background-position: fixed;
    height: 50px; 
    padding-top: 5px;
    width:100px;  
}
.border{
    border: 2px solid transparent;
    
}
.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size:0.85 rem;
margin-left: 15px;;
}
.add-last{
    font-size:1rem;
margin-left:4px;
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-search{
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    border-radius:4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search-input{
   width: 100%;
   font-size: 1rem;
   border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(214, 120, 54);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    cursor: pointer;
}
span{
    font-size: 0.7rem;
}
.nav-second{
 font-size: 0.85rem; 
 font-weight: 700;  
}
.nav-search:hover{
    border: 2px solid rgb(237, 163, 24);

}
.nav-cart i{
    font: size 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display: inline;
    margin-left: 15px;
}
.panel-opt{
    width: 70%;
    font-size: 0.85rem;

}
.panel-opt p{
    cursor: pointer;
}
.panel-deal{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    height: 350px;
    background-size: cover;
    background-image: url(hero_image.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
 
}
.hero-msg a{
    color: #007185;
}
 a:hover{
font-weight: 700;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    border: none;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 13px;

}
.box-img{
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 19px;
    margin-bottom: 15px;

}
.content-box1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box p{
    transition: all ease-in-out 0.5s;
    color: #007185;
    cursor: pointer;
}
.panel-all{
    cursor: pointer;
}
.shop-section h2{
    cursor: pointer;
}

.box P:hover{
    text-decoration: underline;
    
}